body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: grey;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

.car-card {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    cursor: pointer;
}

.car-card img {
    width: 100%;
    height: auto;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

label, input, textarea, button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor:alias
}